Repository tschnepf/workload-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

docs(openapi): regenerate schema to include utilization_scheme endpoint (Phase 2)
  backend/openapi.json
Due: none

feat(frontend): add utilization scheme API client, React Query hook, and Settings editor (Phase 3)
  frontend/src/components/settings/UtilizationSchemeEditor.tsx
  frontend/src/hooks/useUtilizationScheme.ts
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/services/api.ts
Due: eslint, typescript-check

feat(util): add unified utilization helper and migrate Assignments/CapacityHeatmap/CompactHeatStrip to shared classification (Phase 4); add tests; track encoding cleanup follow-up
  frontend/src/components/dashboard/CapacityHeatmap.tsx
  frontend/src/components/dashboard/CompactHeatStrip.tsx
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  frontend/src/util/__tests__/utilization.test.ts
  frontend/src/util/utilization.ts
  prompts/KNOWN-ISSUES.md
Due: eslint, typescript-check

Utilization scheme rollout: unify hour-based legends; backend scheme model/API + ETag; dashboard classification via hours; management commands; DB repair migrations; tests; real app migrations; docs
  backend/assignments/migrations/0007_remove_assignment_assign_active_person_idx_and_more.py
  backend/config/settings.py
  backend/core/management/commands/dump_utilization_scheme.py
  backend/core/management/commands/load_utilization_scheme.py
  backend/core/migrations/0005_fix_utilization_scheme_key.py
  backend/core/migrations/0006_rename_mode_column.py
  backend/core/migrations/0007_harden_scheme_mode_column.py
  backend/core/migrations/0008_repair_all_utilization_scheme_columns.py
  backend/core/migrations/0009_align_mode_state.py
  backend/core/migrations/0010_alter_notificationlog_id_and_more.py
  backend/core/models.py
  backend/core/tests/test_management_commands.py
  backend/core/tests/test_utilization_scheme.py
  backend/core/tests/test_utilization_scheme_api.py
  backend/core/views.py
  backend/dashboard/tests/test_dashboard_classification.py
  backend/dashboard/views.py
  backend/deliverables/migrations/0012_remove_deliverable_deliverable_completed_implies_date_and_more.py
  backend/people/migrations/0008_remove_person_person_active_dept_idx_and_more.py
  backend/projects/migrations/0009_remove_project_project_active_status_idx_and_more.py
  backend/skills/migrations/0004_remove_personskill_personskill_person_skill_idx_and_more.py
  docs/utilization-scheme.md
  frontend/dist/index.html
  frontend/dist/stats.html
  frontend/src/App.tsx
  frontend/src/api/schema.ts
  frontend/src/components/dashboard/TeamHeatmapCard.tsx
  frontend/src/components/personal/MyScheduleStrip.tsx
  frontend/src/components/settings/UtilizationSchemeEditor.tsx
  frontend/src/components/ui/UtilizationBadge.tsx
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  frontend/src/pages/Assignments/ProjectAssignmentsGrid.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Departments/ReportsView.tsx
  frontend/src/util/utilization.test.ts
Due: eslint, typescript-check

Fix: restore getUtilizationColor helper in ReportsView via centralized util; update Assignments legend order/labels and remove unused refresh ? button
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  frontend/src/pages/Departments/ReportsView.tsx
Due: eslint, typescript-check

Fix: enforce minimum widths and one-time correction for Client/Project columns in Assignment and Project grids
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  frontend/src/pages/Assignments/ProjectAssignmentsGrid.tsx
Due: eslint, typescript-check

docs(plan): harden Project Roles by Department plan
  prompts/PROJECT-ROLES-BY-DEPARTMENT-IMPLEMENTATION-PLAN.md
Due: none

docs(plan): add execution discipline and strict editing rules
  prompts/PROJECT-ROLES-BY-DEPARTMENT-IMPLEMENTATION-PLAN.md
Due: none

core: add DepartmentProjectRole model + migration and admin
  backend/core/admin.py
  backend/core/migrations/0011_project_role_catalog.py
  backend/core/migrations/0012_department_project_role.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/urls.py
  backend/core/views.py
  frontend/src/components/settings/ProjectRolesSection.tsx
  frontend/src/hooks/useProjectRoles.ts
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/services/api.ts
Due: eslint, typescript-check

core: add Department↔ProjectRole endpoints (map/list/add/delete) + feature-gated dept filter on project_roles
  backend/config/settings.py
  backend/core/urls.py
  backend/core/views.py
Due: none

frontend: add deptProjectRolesApi + React Query hooks
  frontend/src/hooks/useDeptProjectRoles.ts
  frontend/src/services/api.ts
Due: eslint, typescript-check

frontend(settings): add Department Project Roles section (admin + capability-gated)
  frontend/src/components/settings/DepartmentProjectRolesSection.tsx
  frontend/src/pages/Settings/Settings.tsx
Due: eslint, typescript-check

Settings: Project & Department Roles — vertical list + remove actions; Backend: DELETE /core/project_roles clears assignments and deletes catalog entry; Frontend: API + hook support
  backend/core/views.py
  frontend/src/components/settings/DepartmentProjectRolesSection.tsx
  frontend/src/components/settings/ProjectRolesSection.tsx
  frontend/src/hooks/useProjectRoles.ts
  frontend/src/services/api.ts
Due: eslint, typescript-check

chore(refactor-plan): harden TSX refactor plan; add lint:soft; freeze query keys and grid refresh bus; stage ESLint import resolver
  frontend/package.json
Due: none

docs(refactor-plan): add generated plan, baseline contracts, and ESLint guardrails diff
  prompts/TSX_Refactor_Execution_Plan_Addendum.md
  prompts/TSX_Refactor_Generated_Plan.md
  prompts/analysis-baseline.txt
  prompts/eslint-guardrails.diff
Due: none

﻿chore(refactor-plan): baseline, utils+tests, ESLint resolver
  commitmsg.txt
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/util/__tests__/deliverables.test.ts
  frontend/src/util/__tests__/skills.test.ts
  frontend/src/util/deliverables.ts
  frontend/src/util/skills.ts
  prompts/NEEDS-REFACTOR.md
  prompts/analysis-baseline.txt
Due: eslint, typescript-check

chore(eslint): add light max-lines/complexity guardrails (non-blocking) to support Phase 0
  commitmsg.txt
  frontend/eslint.config.js
Due: eslint

﻿refactor(assignments-grid, phase 1 step 2): in-file extractions
  commitmsg_phase1.txt
  frontend/dist/index.html
  frontend/dist/stats.html
  frontend/package.json
  frontend/src/pages/Assignments/AssignmentGrid.tsx
Due: eslint, typescript-check

Assignments refactor (Phase 1 Step 4) + fixes:
  commitmsg_phase1.txt
  frontend/dist/index.html
  frontend/dist/stats.html
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  frontend/src/pages/Assignments/grid/assignmentActions.ts
  frontend/src/pages/Assignments/grid/components/AddAssignmentRow.tsx
  frontend/src/pages/Assignments/grid/components/AssignmentRow.tsx
  frontend/src/pages/Assignments/grid/components/EmptyStateRow.tsx
  frontend/src/pages/Assignments/grid/components/HeaderBar.tsx
  frontend/src/pages/Assignments/grid/components/Legend.tsx
  frontend/src/pages/Assignments/grid/components/PeopleSection.tsx
  frontend/src/pages/Assignments/grid/components/PersonGroupHeader.tsx
  frontend/src/pages/Assignments/grid/components/PersonSection.tsx
  frontend/src/pages/Assignments/grid/components/ProjectCell.tsx
  frontend/src/pages/Assignments/grid/components/RemoveAssignmentButton.tsx
  frontend/src/pages/Assignments/grid/components/StatusBar.tsx
  frontend/src/pages/Assignments/grid/components/WeekCell.tsx
  frontend/src/pages/Assignments/grid/components/WeekHeader.tsx
  frontend/src/pages/Assignments/grid/useAssignmentsSnapshot.ts
  frontend/src/pages/Assignments/grid/useDeliverableBars.ts
  frontend/src/pages/Assignments/grid/useDeliverablesIndex.ts
  frontend/src/pages/Assignments/grid/useEditingCell.ts
  frontend/src/pages/Assignments/grid/useGridColumnWidths.ts
  frontend/src/pages/Assignments/grid/useGridKeyboardNavigation.ts
  frontend/src/pages/Assignments/grid/useProjectAssignmentAdd.ts
  frontend/src/pages/Assignments/grid/useProjectStatusFilters.ts
  frontend/src/pages/Assignments/grid/useScrollSync.ts
  frontend/src/pages/Assignments/grid/useStatusControls.ts
  frontend/src/pages/Assignments/grid/useWeekHeaders.ts
  prompts/NEEDS-REFACTOR.md
Due: eslint, typescript-check

﻿Dev proxy: allow overriding backend target via VITE_PROXY_TARGET for non-Docker setups
  frontend/vite.config.ts
Due: eslint, typescript-check

﻿Dev proxy: auto-pick backend target from VITE_PROXY_TARGET or HOST_IP (.env), fallback to Docker DNS
  frontend/vite.config.ts
Due: eslint, typescript-check

﻿Settings: admin override for Department Project Roles input; Dev proxy: also read HOST_IP from repo root .env for non-Docker dev
  frontend/src/components/settings/DepartmentProjectRolesSection.tsx
  frontend/vite.config.ts
Due: eslint, typescript-check

﻿Client: add host-dev fallback base URL (http://<host>:8000/api) when running on port 3000 without VITE_API_URL
  frontend/src/api/client.ts
Due: eslint, typescript-check

﻿Client: treat relative VITE_API_URL as host-dev base on port 3000 (" /api\ -> \http://<host>:8000/api\), avoiding proxy
  frontend/src/api/client.ts
Due: eslint, typescript-check

﻿Client: revert host-dev fallback; rely on dev proxy unless VITE_API_URL is absolute
  frontend/src/api/client.ts
Due: eslint, typescript-check

﻿Projects routing: prevent router detail from catching " project-roles\ by (1) numeric lookup regex on ProjectViewSet and (2) registering role endpoints before router URLs
  backend/projects/urls.py
  backend/projects/views.py
Due: none

﻿Settings/Dept Roles: make soft-delete UX clear — default hide inactive (toggle to show), label action as Deactivate, and allow re-Activate
  frontend/src/components/settings/DepartmentProjectRolesSection.tsx
Due: eslint, typescript-check

﻿Project roles: switch to hard delete in API; Settings UI uses Delete action and removes inactive toggle
  backend/projects/views_roles.py
  frontend/src/components/settings/DepartmentProjectRolesSection.tsx
Due: eslint, typescript-check

﻿Assignments grid: align client and project name on same baseline by top-aligning cells and adjusting paddings/line-height; role on next line
  frontend/src/pages/Assignments/grid/components/AssignmentRow.tsx
  frontend/src/pages/Assignments/grid/components/ProjectCell.tsx
Due: eslint, typescript-check

﻿Assignments grid: tighten vertical rhythm — remove dotted underline on role, reduce top margins/padding so role sits closer to project name, and slightly shrink row padding
  frontend/src/pages/Assignments/grid/components/AssignmentRow.tsx
  frontend/src/pages/Assignments/grid/components/ProjectCell.tsx
Due: eslint, typescript-check

﻿Assignments grid: stack role directly beneath project name using 2-row grid; keep row height, status spans both rows
  frontend/src/pages/Assignments/grid/components/ProjectCell.tsx
Due: eslint, typescript-check

﻿Assignments grid: add slight (2px) buffer below project role to separate from next row
  frontend/src/pages/Assignments/grid/components/ProjectCell.tsx
Due: eslint, typescript-check

﻿Assignments grid: increase vertical buffer under project role and bottom padding while keeping role directly under name
  frontend/src/pages/Assignments/grid/components/ProjectCell.tsx
Due: eslint, typescript-check

﻿Cleanup: remove legacy Project Roles catalog UI and hook; update types; keep build artifacts out of commit
  frontend/src/components/settings/ProjectRolesSection.tsx
  frontend/src/hooks/useProjectRoles.ts
  frontend/src/types/models.ts
Due: eslint, typescript-check

﻿frontend: sync package-lock.json with package.json (add eslint resolver/import-x/msw) to fix npm ci on unRAID
  frontend/package-lock.json
Due: none

﻿Assignments: prefetch assignment detail to seed ETag before PATCH to reduce 412s in prod
  frontend/src/pages/Assignments/grid/useAssignmentRoleUpdate.ts
Due: eslint, typescript-check

﻿frontend: add assignmentsApi.get(id) and use it to seed ETag before PATCH to reduce 412 Precondition Failed in prod
  frontend/src/services/api.ts
Due: eslint, typescript-check

Role management and logout changes
  backend/accounts/serializers.py
  backend/accounts/urls.py
  backend/accounts/views.py
  frontend/src/components/layout/Layout.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/services/api.ts
Due: eslint, typescript-check

Email: add SMTP configuration via env (Gmail-ready); default console in DEBUG.
  backend/config/settings.py
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
