Repository tschnepf/workload-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pip install pre-commit && pre-commit install
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags in docker-compose
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python hooks (if python tools available)
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        files: ^backend/.*\.py$
        args: [--line-length=120]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/.*\.py$
        args: [--profile=black, --line-length=120]

  # Frontend hooks - use project's existing ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Docker and config file formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^(frontend/.*\.(json|md|yaml|yml)|docker-compose.*\.yml|\.github/.*\.yml)$
        exclude: ^frontend/package-lock\.json$

# Configuration
default_language_version:
  python: python3
fail_fast: false

Clean up legacy build artifacts from TypeScript migration
  frontend/dist/assets/Button.B1aGBMaa.js
  frontend/dist/assets/Button.B1aGBMaa.js.map
  frontend/dist/assets/Card.DBbmFfHk.js
  frontend/dist/assets/Card.DBbmFfHk.js.map
  frontend/dist/assets/Dashboard.CBZOYpor.js
  frontend/dist/assets/Dashboard.CBZOYpor.js.map
  frontend/dist/assets/DeliverablesSection.BzesmPv2.js
  frontend/dist/assets/DeliverablesSection.BzesmPv2.js.map
  frontend/dist/assets/Input.CAfEA-5q.js
  frontend/dist/assets/Input.CAfEA-5q.js.map
  frontend/dist/assets/ProjectForm.fgu-c50K.js
  frontend/dist/assets/ProjectForm.fgu-c50K.js.map
  frontend/dist/assets/UtilizationBadge.CZolX8GJ.js
  frontend/dist/assets/UtilizationBadge.CZolX8GJ.js.map
  frontend/dist/assets/api.BBwiE9lX.js
  frontend/dist/assets/api.BBwiE9lX.js.map
  frontend/dist/assets/css/index.BQFVbdVr.css
  frontend/dist/assets/index.6wFLa5Gd.js
  frontend/dist/assets/index.6wFLa5Gd.js.map
  frontend/dist/assets/index.7JAYijj2.js
  frontend/dist/assets/index.7JAYijj2.js.map
  frontend/dist/assets/index.C2uokzqE.js
  frontend/dist/assets/index.C2uokzqE.js.map
  frontend/dist/assets/index.DH9lSSFF.js
  frontend/dist/assets/index.DH9lSSFF.js.map
  frontend/dist/assets/index.tWjhzuQb.js
  frontend/dist/assets/index.tWjhzuQb.js.map
  frontend/dist/assets/index.zuY0xTfW.js
  frontend/dist/assets/index.zuY0xTfW.js.map
  frontend/dist/assets/query.D2_a4YYZ.js
  frontend/dist/assets/query.D2_a4YYZ.js.map
  frontend/dist/assets/react-vendor.BaVwoRKI.js
  frontend/dist/assets/react-vendor.BaVwoRKI.js.map
  frontend/dist/assets/router.BYkwE9TY.js
  frontend/dist/assets/router.BYkwE9TY.js.map
  frontend/dist/assets/useDebounce.lmyEQsFZ.js
  frontend/dist/assets/useDebounce.lmyEQsFZ.js.map
Due: eslint

Enhance R2 assignments filter implementation plan with safety improvements
  prompts/R2-REBUILD-ASSIGNMENTS-ACTIVE-OR-WITH-HOURS-FILTER.md
Due: none

Implement R3 project status management with scroll-jump fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/projects/QA_SCENARIOS.md
  frontend/src/components/projects/StatusBadge.tsx
  frontend/src/components/projects/StatusDropdown.tsx
  frontend/src/components/projects/__tests__/accessibility.test.tsx
  frontend/src/components/projects/__tests__/performance.test.tsx
  frontend/src/components/projects/__tests__/projectStatus.integration.test.ts
  frontend/src/components/projects/__tests__/statusBadge.visual.test.tsx
  frontend/src/components/projects/status.utils.ts
  frontend/src/components/projects/useDropdownAria.ts
  frontend/src/components/projects/useDropdownManager.ts
  frontend/src/components/projects/useProjectStatus.ts
  frontend/src/components/projects/useProjectStatusSubscription.ts
  frontend/src/test/mocks.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  prompts/ASSIGNMENT-PAGE-UPDATES.md
Due: eslint, typescript-check

Enhance AssignmentGrid with integrated project status management
  frontend/src/pages/Assignments/AssignmentGrid.tsx
Due: eslint, typescript-check

Add React Query cache invalidation for analytics updates
  frontend/src/pages/Assignments/AssignmentGrid.tsx
Due: eslint, typescript-check

Add R4 user authentication and settings implementation prompts
  .claude/settings.local.json
  prompts/R4-USER-AUTH-AND-SETTINGS-IMPLEMENTATION-PROMPTS.md
Due: none

Implement R4 user authentication and settings system
  backend/accounts/__init__.py
  backend/accounts/admin.py
  backend/accounts/apps.py
  backend/accounts/migrations/0001_initial.py
  backend/accounts/migrations/0002_backfill_user_profiles.py
  backend/accounts/migrations/__init__.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/accounts/signals.py
  backend/accounts/tests/test_auth_endpoints.py
  backend/accounts/token_views.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/assignments/tests/test_department_filter.py
  backend/assignments/views.py
  backend/config/settings.py
  backend/config/urls.py
  backend/dashboard/views.py
  backend/deliverables/views.py
  backend/departments/views.py
  backend/people/tests/test_department_filter.py
  backend/people/views.py
  backend/projects/tests/test_filter_metadata.py
  backend/projects/views.py
  backend/roles/views.py
  backend/skills/views.py
  frontend/src/App.tsx
  frontend/src/components/auth/RequireAuth.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useDeptServerDefaults.ts
  frontend/src/hooks/useThemeFromSettings.ts
  frontend/src/pages/Auth/Login.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/services/api.ts
  frontend/src/store/auth.ts
  frontend/src/store/departmentFilter.ts
  frontend/src/utils/auth.ts
  prompts/R4-USER-AUTH-AND-SETTINGS-IMPLEMENTATION-PROMPTS.md
Due: eslint, typescript-check

Update OpenAPI migration plan with realistic timeline and streamlined approach
  prompts/OpenAPI-Migration.md
Due: none

Add comprehensive database backup and restore implementation plan
  prompts/Database-Backup-Restore-Implementation.md
Due: none

Add comprehensive package upgrade path and assignment client column improvements
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  prompts/PACKAGES-UPGRADE-PATH.md
  prompts/Server-Aggregation-Migration-Steps.md
Due: eslint, typescript-check

Upgrade: Postgres 17.6 + restore progress + resiliency
  .env.example
  backend/core/management/commands/repair_token_blacklist.py
  backend/entrypoint.sh
Due: none

Fix: robust DRF throttle rate parsing + env docs
  .env.example
  backend/config/settings.py
Due: none

Feat: Phase 9 offsite sync, notifications, and schedules
  .env.example
  backend/config/celery.py
  backend/core/backup_tasks.py
  backend/core/management/commands/cleanup_backups.py
  backend/core/management/commands/restore_latest_safety.py
  backend/core/management/commands/sync_backups.py
  backend/core/notifications.py
  backend/requirements.txt
  prompts/finished/Database-Backup-Restore-Implementation.md
Due: none

chore: snapshot before Phase 0 upgrades (pre-flight)
  prompts/PACKAGES-UPGRADE-PATH.md
Due: none

chore(backend): upgrade Django to 5.2.6; rebuild and migrate
  backend/requirements.txt
Due: none

chore(backend): upgrade djangorestframework to 3.16.1
  backend/requirements.txt
Due: none

chore(backend): upgrade DRF to 3.16.1; regen OpenAPI and frontend types; build frontend
  backend/openapi.json
  frontend/src/api/schema.ts
Due: eslint, typescript-check

chore(backend): bump openpyxl 3.1.5, sentry-sdk[django] 2.38.0, psycopg2-binary 2.9.10
  backend/requirements.txt
Due: none

feat(frontend): upgrade React/DOM to 19.1.1 and types to 19.x; rebuild; run tests
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(frontend): upgrade TypeScript to 5.9.2
  frontend/package.json
Due: none

chore(frontend): update ESLint flat config for ESLint 9; register react-hooks plugin
  frontend/eslint.config.js
Due: eslint

docs: add prompts/KNOWN-ISSUES.md with ESLint hooks findings and other non-blocking items; establish ongoing log
  prompts/KNOWN-ISSUES.md
Due: none

build(frontend): upgrade Vite to 7.1.5 and @vitejs/plugin-react to 5.0.2; build + analyzer
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(backend): keep redis at 5.0.1 due to celery/kombu constraints; revisit upgrade when Celery supports redis 6.x
  backend/requirements.txt
Due: none

docs(known-issues): track redis 6.x conflict with Celery/kombu; pinned to redis 5.0.1 for now
  prompts/KNOWN-ISSUES.md
Due: none

build(vite): point router chunks/optimizeDeps to 'react-router' for v7
  frontend/vite.config.ts
Due: eslint, typescript-check

feat(router): migrate to react-router v7 with createBrowserRouter + RouterProvider; update imports; adjust Vite chunks
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/RequireAuth.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/mockup/SidebarNavigationMockup.tsx
  frontend/src/main.tsx
  frontend/src/pages/Assignments/AssignmentForm.tsx
  frontend/src/pages/Assignments/AssignmentList.tsx
  frontend/src/pages/Auth/Login.tsx
  frontend/src/pages/ComingSoon/ComingSoon.tsx
  frontend/src/pages/People/PeopleList.tsx
  frontend/src/pages/People/PersonForm.tsx
  frontend/src/pages/Projects/ProjectForm.tsx
  frontend/src/pages/Projects/ProjectsList.tsx
Due: eslint, typescript-check

test: add test-utils renderWithProviders; fix overlapping act by sequencing; scope text queries; wrap async act; adjust useProjects mock import path
  docker/frontend/Dockerfile
  frontend/dist/index.html
  frontend/dist/stats.html
  frontend/package-lock.json
  frontend/src/components/projects/__tests__/projectStatus.integration.test.ts
  frontend/src/components/projects/__tests__/statusBadge.visual.test.tsx
  frontend/src/test-utils.tsx
  prompts/KNOWN-ISSUES.md
  prompts/PACKAGES-UPGRADE-PATH.md
Due: eslint, typescript-check

test: fix act usage (async) and router/accessibility query scoping; add QueryClient wrapper for hook tests
  frontend/src/components/projects/__tests__/accessibility.test.tsx
  frontend/src/components/projects/__tests__/performance.test.tsx
  frontend/src/components/projects/__tests__/projectStatus.integration.test.ts
Due: eslint, typescript-check

test: restore RTL imports in performance tests; fix relative import path for useProjects mock in integration test
  frontend/src/components/projects/__tests__/performance.test.tsx
  frontend/src/components/projects/__tests__/projectStatus.integration.test.ts
Due: eslint, typescript-check

test: use ESM import for useProjects mock consumer; avoid require() in vitest ESM; keep alias '@/hooks/useProjects'
  frontend/src/components/projects/__tests__/projectStatus.integration.test.ts
Due: eslint, typescript-check

test: add QueryClientProvider wrapper to integration tests; batch concurrent updates in single act to avoid overlapping act warnings
  frontend/src/components/projects/__tests__/performance.test.tsx
  frontend/src/components/projects/__tests__/projectStatus.integration.test.ts
Due: eslint, typescript-check

chore: Step 9 – bump postcss 8.5.6, autoprefixer 10.4.21, vitest 3.2.4; backend drf-spectacular 0.28.0
  backend/requirements.txt
  frontend/package.json
Due: none

infra(nginx): add dev Nginx service and site; prepare prod HTTPS server; allow Vite .vite paths in dev; docs: unified entrypoint guide and TLS TODO
  docker-compose.prod.yml
  docker-compose.yml
  nginx/nginx.conf
  nginx/sites-available-dev/workload-tracker.dev.conf
  nginx/sites-available/workload-tracker.conf
  prompts/TO-DO.md
  prompts/UNIFIED-NGINX-SINGLE-ENTRYPOINT.md
Due: none

Project Assignments parity + UX fixes:
  frontend/src/components/auth/RequireAuth.tsx
  frontend/src/components/dashboard/CapacityHeatmap.tsx
  frontend/src/components/filters/GlobalDepartmentFilter.tsx
  frontend/src/components/projects/StatusBadge.tsx
  frontend/src/components/quick-actions/QuickActionsInline.tsx
  frontend/src/components/quick-actions/QuickActionsPanel.tsx
  frontend/src/components/quick-actions/tools/BalanceWorkloadTool.tsx
  frontend/src/components/quick-actions/tools/CapacityReportTool.tsx
  frontend/src/components/quick-actions/tools/FindAvailableTool.tsx
  frontend/src/components/quick-actions/tools/MilestoneReviewTool.tsx
  frontend/src/components/settings/BackupManagement.tsx
  frontend/src/components/settings/RestoreManagement.tsx
  frontend/src/components/ui/Loader.tsx
  frontend/src/pages/Assignments/AssignmentGrid.tsx
  frontend/src/pages/Assignments/ProjectAssignmentsGrid.tsx
  frontend/src/pages/Assignments/grid/useCellSelection.ts
  frontend/vite.config.ts
  prompts/Project-Assignments-Parity-With-Assignments.md
Due: eslint, typescript-check
